BestilNemt/ConsoleApplication1/Service References/BestilNemtServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BestilNemtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBestilNemtService_findCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:findCustomer" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_findCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:findCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_createCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:createCustomer" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_createCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:createCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_removeCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:removeCustomer" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_removeCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:removeCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetALlCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetALlCustomer" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetALlCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetALlCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_CreateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdmin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_CreateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_FindAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAdmin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_FindAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdmins" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_RemoveAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdmin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_RemoveAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdmin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllWarehouses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWarehouses" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllWarehouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWarehousesResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_RemoveWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveWarehouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_RemoveWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWarehouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetShop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllShops_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShops" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllShops_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShopsResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DeleteShop_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DeleteShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddShop_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateShop_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLogin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DelLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:DelLogin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DelLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_CreateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompany" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_CreateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_FindAllCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllCompany" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_FindAllCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_RemoveCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCompany" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_RemoveCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_FindCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCompany" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_FindCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="IBestilNemtService">
    <wsdl:operation name="findCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/findCustomer" message="tns:IBestilNemtService_findCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/findCustomerResponse" message="tns:IBestilNemtService_findCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/createCustomer" message="tns:IBestilNemtService_createCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/createCustomerResponse" message="tns:IBestilNemtService_createCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateCustomer" message="tns:IBestilNemtService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateCustomerResponse" message="tns:IBestilNemtService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/removeCustomer" message="tns:IBestilNemtService_removeCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/removeCustomerResponse" message="tns:IBestilNemtService_removeCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetALlCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetALlCustomer" message="tns:IBestilNemtService_GetALlCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetALlCustomerResponse" message="tns:IBestilNemtService_GetALlCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/CreateAdmin" message="tns:IBestilNemtService_CreateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/CreateAdminResponse" message="tns:IBestilNemtService_CreateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/FindAdmin" message="tns:IBestilNemtService_FindAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/FindAdminResponse" message="tns:IBestilNemtService_FindAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllAdmins" message="tns:IBestilNemtService_GetAllAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllAdminsResponse" message="tns:IBestilNemtService_GetAllAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/RemoveAdmin" message="tns:IBestilNemtService_RemoveAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/RemoveAdminResponse" message="tns:IBestilNemtService_RemoveAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateAdmin" message="tns:IBestilNemtService_UpdateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateAdminResponse" message="tns:IBestilNemtService_UpdateAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetWarehouse" message="tns:IBestilNemtService_GetWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetWarehouseResponse" message="tns:IBestilNemtService_GetWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWarehouses">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllWarehouses" message="tns:IBestilNemtService_GetAllWarehouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllWarehousesResponse" message="tns:IBestilNemtService_GetAllWarehouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/RemoveWarehouse" message="tns:IBestilNemtService_RemoveWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/RemoveWarehouseResponse" message="tns:IBestilNemtService_RemoveWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddWarehouse" message="tns:IBestilNemtService_AddWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddWarehouseResponse" message="tns:IBestilNemtService_AddWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateWarehouse" message="tns:IBestilNemtService_UpdateWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateWarehouseResponse" message="tns:IBestilNemtService_UpdateWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetShop" message="tns:IBestilNemtService_GetShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetShopResponse" message="tns:IBestilNemtService_GetShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllShops">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllShops" message="tns:IBestilNemtService_GetAllShops_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllShopsResponse" message="tns:IBestilNemtService_GetAllShops_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/DeleteShop" message="tns:IBestilNemtService_DeleteShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/DeleteShopResponse" message="tns:IBestilNemtService_DeleteShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddShop" message="tns:IBestilNemtService_AddShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddShopResponse" message="tns:IBestilNemtService_AddShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateShop" message="tns:IBestilNemtService_UpdateShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateShopResponse" message="tns:IBestilNemtService_UpdateShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/Login" message="tns:IBestilNemtService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/LoginResponse" message="tns:IBestilNemtService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddLogin" message="tns:IBestilNemtService_AddLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddLoginResponse" message="tns:IBestilNemtService_AddLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateLogin" message="tns:IBestilNemtService_UpdateLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateLoginResponse" message="tns:IBestilNemtService_UpdateLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/DelLogin" message="tns:IBestilNemtService_DelLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/DelLoginResponse" message="tns:IBestilNemtService_DelLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/CreateCompany" message="tns:IBestilNemtService_CreateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/CreateCompanyResponse" message="tns:IBestilNemtService_CreateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/FindAllCompany" message="tns:IBestilNemtService_FindAllCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/FindAllCompanyResponse" message="tns:IBestilNemtService_FindAllCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/RemoveCompany" message="tns:IBestilNemtService_RemoveCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/RemoveCompanyResponse" message="tns:IBestilNemtService_RemoveCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateCompany" message="tns:IBestilNemtService_UpdateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateCompanyResponse" message="tns:IBestilNemtService_UpdateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/FindCompany" message="tns:IBestilNemtService_FindCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/FindCompanyResponse" message="tns:IBestilNemtService_FindCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBestilNemtService" type="tns:IBestilNemtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findCustomer">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/findCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/createCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeCustomer">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/removeCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetALlCustomer">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetALlCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAdmin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/CreateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAdmin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/FindAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdmins">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllAdmins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAdmin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/RemoveAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWarehouses">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllWarehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveWarehouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/RemoveWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWarehouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllShops">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllShops" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/DeleteShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLogin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLogin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelLogin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/DelLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCompany">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/CreateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllCompany">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/FindAllCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCompany">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/RemoveCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompany">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/FindCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BestilNemtService">
    <wsdl:port name="BasicHttpBinding_IBestilNemtService" binding="tns:BasicHttpBinding_IBestilNemtService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/BestilNemtService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>