BestilNemt/WebClient/Service References/BestilNemtServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BestilNemtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBestilNemtService_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddShop_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetShop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllShopsByChainId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShopsByChainId" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllShopsByChainId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShopsByChainIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateShop_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DeleteShop_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DeleteShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShopResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetChain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChain" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetChain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChainResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllChains_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChains" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllChains_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChainsResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllSoldProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSoldProducts" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllSoldProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSoldProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllProductsWithSavings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsWithSavings" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllProductsWithSavings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsWithSavingsResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCart" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCartResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddCartWithPartOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCartWithPartOrders" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddCartWithPartOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCartWithPartOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllCarts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCarts" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllCarts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCartsResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllCartsByPersonId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCartsByPersonId" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllCartsByPersonId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCartsByPersonIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddPartOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPartOrder" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddPartOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPartOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllWarehousesByShopId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWarehousesByShopId" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetAllWarehousesByShopId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWarehousesByShopIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWarehouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_UpdateWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddSaving_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSaving" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddSaving_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSavingResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetSaving_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaving" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetSaving_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSavingResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddCustomerWithLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerWithLogin" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_AddCustomerWithLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerWithLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetWarehouseByProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseByProductId" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetWarehouseByProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseByProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetDataGridProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGridProducts" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetDataGridProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGridProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetProductWareHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductWareHouse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetProductWareHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductWareHouseResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetChainData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChainData" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetChainData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChainDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetDataGridShop_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGridShop" />
  </wsdl:message>
  <wsdl:message name="IBestilNemtService_GetDataGridShop_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataGridShopResponse" />
  </wsdl:message>
  <wsdl:portType name="IBestilNemtService">
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAdmin" message="tns:IBestilNemtService_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAdminResponse" message="tns:IBestilNemtService_GetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddShop" message="tns:IBestilNemtService_AddShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddShopResponse" message="tns:IBestilNemtService_AddShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetShop" message="tns:IBestilNemtService_GetShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetShopResponse" message="tns:IBestilNemtService_GetShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllShopsByChainId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllShopsByChainId" message="tns:IBestilNemtService_GetAllShopsByChainId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllShopsByChainIdResponse" message="tns:IBestilNemtService_GetAllShopsByChainId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateShop" message="tns:IBestilNemtService_UpdateShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateShopResponse" message="tns:IBestilNemtService_UpdateShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/DeleteShop" message="tns:IBestilNemtService_DeleteShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/DeleteShopResponse" message="tns:IBestilNemtService_DeleteShop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChain">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetChain" message="tns:IBestilNemtService_GetChain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetChainResponse" message="tns:IBestilNemtService_GetChain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChains">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllChains" message="tns:IBestilNemtService_GetAllChains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllChainsResponse" message="tns:IBestilNemtService_GetAllChains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/Login" message="tns:IBestilNemtService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/LoginResponse" message="tns:IBestilNemtService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddProduct" message="tns:IBestilNemtService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddProductResponse" message="tns:IBestilNemtService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetProduct" message="tns:IBestilNemtService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetProductResponse" message="tns:IBestilNemtService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSoldProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllSoldProducts" message="tns:IBestilNemtService_GetAllSoldProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllSoldProductsResponse" message="tns:IBestilNemtService_GetAllSoldProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsWithSavings">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllProductsWithSavings" message="tns:IBestilNemtService_GetAllProductsWithSavings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllProductsWithSavingsResponse" message="tns:IBestilNemtService_GetAllProductsWithSavings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateProduct" message="tns:IBestilNemtService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateProductResponse" message="tns:IBestilNemtService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/DeleteProduct" message="tns:IBestilNemtService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/DeleteProductResponse" message="tns:IBestilNemtService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddCart" message="tns:IBestilNemtService_AddCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddCartResponse" message="tns:IBestilNemtService_AddCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCartWithPartOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddCartWithPartOrders" message="tns:IBestilNemtService_AddCartWithPartOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddCartWithPartOrdersResponse" message="tns:IBestilNemtService_AddCartWithPartOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCarts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllCarts" message="tns:IBestilNemtService_GetAllCarts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllCartsResponse" message="tns:IBestilNemtService_GetAllCarts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCartsByPersonId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllCartsByPersonId" message="tns:IBestilNemtService_GetAllCartsByPersonId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllCartsByPersonIdResponse" message="tns:IBestilNemtService_GetAllCartsByPersonId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPartOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddPartOrder" message="tns:IBestilNemtService_AddPartOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddPartOrderResponse" message="tns:IBestilNemtService_AddPartOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddWarehouse" message="tns:IBestilNemtService_AddWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddWarehouseResponse" message="tns:IBestilNemtService_AddWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetWarehouse" message="tns:IBestilNemtService_GetWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetWarehouseResponse" message="tns:IBestilNemtService_GetWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWarehousesByShopId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllWarehousesByShopId" message="tns:IBestilNemtService_GetAllWarehousesByShopId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetAllWarehousesByShopIdResponse" message="tns:IBestilNemtService_GetAllWarehousesByShopId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateWarehouse" message="tns:IBestilNemtService_UpdateWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/UpdateWarehouseResponse" message="tns:IBestilNemtService_UpdateWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSaving">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddSaving" message="tns:IBestilNemtService_AddSaving_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddSavingResponse" message="tns:IBestilNemtService_AddSaving_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaving">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetSaving" message="tns:IBestilNemtService_GetSaving_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetSavingResponse" message="tns:IBestilNemtService_GetSaving_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomerWithLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/AddCustomerWithLogin" message="tns:IBestilNemtService_AddCustomerWithLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/AddCustomerWithLoginResponse" message="tns:IBestilNemtService_AddCustomerWithLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseByProductId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetWarehouseByProductId" message="tns:IBestilNemtService_GetWarehouseByProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetWarehouseByProductIdResponse" message="tns:IBestilNemtService_GetWarehouseByProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataGridProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetDataGridProducts" message="tns:IBestilNemtService_GetDataGridProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetDataGridProductsResponse" message="tns:IBestilNemtService_GetDataGridProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductWareHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetProductWareHouse" message="tns:IBestilNemtService_GetProductWareHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetProductWareHouseResponse" message="tns:IBestilNemtService_GetProductWareHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChainData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetChainData" message="tns:IBestilNemtService_GetChainData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetChainDataResponse" message="tns:IBestilNemtService_GetChainData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataGridShop">
      <wsdl:input wsaw:Action="http://tempuri.org/IBestilNemtService/GetDataGridShop" message="tns:IBestilNemtService_GetDataGridShop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBestilNemtService/GetDataGridShopResponse" message="tns:IBestilNemtService_GetDataGridShop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBestilNemtService" type="tns:IBestilNemtService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdmin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllShopsByChainId">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllShopsByChainId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/DeleteShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChain">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChains">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllChains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSoldProducts">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllSoldProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductsWithSavings">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllProductsWithSavings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCart">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCartWithPartOrders">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddCartWithPartOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCarts">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllCarts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCartsByPersonId">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllCartsByPersonId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPartOrder">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddPartOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWarehouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWarehousesByShopId">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetAllWarehousesByShopId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/UpdateWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSaving">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddSaving" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaving">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetSaving" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomerWithLogin">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/AddCustomerWithLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseByProductId">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetWarehouseByProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGridProducts">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetDataGridProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductWareHouse">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetProductWareHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChainData">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetChainData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGridShop">
      <soap:operation soapAction="http://tempuri.org/IBestilNemtService/GetDataGridShop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BestilNemtService">
    <wsdl:port name="BasicHttpBinding_IBestilNemtService" binding="tns:BasicHttpBinding_IBestilNemtService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/BestilNemtService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>